body {
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    margin: 20px;
}

h3 {
    display: block;
    margin-bottom: 80px;
}

a {
    text-decoration: none;
}

a:visited {
    color: blue;
}

img {
    opacity: 0.7;
    transition: all 0.3s ease;
}

img:hover {
    opacity: 1;
}

.footer {
    display: block;
    position: absolute;
    font-size: 20px;
    bottom: 10px;
}
